<section class="max-w-md mx-auto p-4 bg-neutral rounded-lg shadow-md">
  <h2 class="text-2xl font-bold mb-4">Edit <%= resource_name.to_s.humanize %></h2>

  <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put, class: "space-y-6" }) do |f| %>
    <%= render "devise/shared/error_messages", resource: resource %>

    <div class="form-control">
      <%= f.label :email, class: "label" %>
      <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "input input-bordered w-full max-w-xs" %>
    </div>

    <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
      <div class="text-sm text-gray-500">
        Currently waiting confirmation for: <%= resource.unconfirmed_email %>
      </div>
    <% end %>

    <div class="form-control">
      <%= f.label :password, class: "label" %>
      <i class="text-sm text-gray-500">(leave blank if you don't want to change it)</i>
      <%= f.password_field :password, autocomplete: "new-password", class: "input input-bordered w-full max-w-xs" %>
      <% if @minimum_password_length %>
        <em class="text-sm text-gray-500"><%= @minimum_password_length %> characters minimum</em>
      <% end %>
    </div>

    <div class="form-control">
      <%= f.label :password_confirmation, class: "label" %>
      <%= f.password_field :password_confirmation, autocomplete: "new-password", class: "input input-bordered w-full max-w-xs" %>
    </div>

    <div class="form-control">
      <%= f.label :current_password, class: "label" %>
      <i class="text-sm text-gray-500">(we need your current password to confirm your changes)</i>
      <%= f.password_field :current_password, autocomplete: "current-password", class: "input input-bordered w-full max-w-xs" %>
    </div>

    <div class="form-control mt-6">
      <%= f.submit "Update", class: "btn btn-primary w-full" %>
    </div>
  <% end %>

  <h3 class="text-xl font-semibold mt-8 mb-2">Cancel my account</h3>

  <div class="form-control">
    <%= button_to "Cancel my account", registration_path(resource_name), class: "btn btn-danger w-full", data: { confirm: "Are you sure?", turbo_confirm: "Are you sure?" }, method: :delete %>
  </div>

  <div class="form-control mt-4">
    <%= link_to "Back", :back, class: "btn btn-link" %>
  </div>
</section>
