<%= form_with(model: [tenant, space], class: "space-y-6") do |form| %>
  <% if space.errors.any? %>
    <div id="error_explanation" class="alert alert-error shadow-lg">
      <div>
        <svg xmlns="http://www.w3.org/2000/svg" class="stroke-current flex-shrink-0 h-6 w-6" fill="none" viewBox="0 0 24 24">
          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12" />
        </svg>
        <div>
          <h3 class="font-bold"><%= pluralize(space.errors.count, "error") %> prohibited this space from being saved:</h3>
          <ul class="mt-1">
            <% space.errors.each do |error| %>
              <li><%= error.full_message %></li>
            <% end %>
          </ul>
        </div>
      </div>
    </div>
  <% end %>

  <div class="form-control">
    <%= form.label :name, class: "label" %>
    <%= form.text_field :name, class: "input input-bordered" %>
  </div>
  
  <div class="form-control mt-6">
    <%= form.submit class: "btn btn-primary" %>
  </div>
<% end %>
